

/*font-family: 'Cookie', cursive;
	font-family: 'Patrick Hand', cursive;
	font-family: 'Sacramento', cursive;
	font-family: 'Neucha', cursive;
	font-family: 'Patrick Hand SC', cursive;*/


html, body {
	height: 100%;
}

body {
	font-family: "Roboto Condensed", sans-serif;
}

p {
	color: #64707b;
	font-size: 14px;
	font-weight: 100;
}

h3 {
	color: #41464b;
}

.container-fluid {
	width: auto;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: 0;
}
#logo-home {
	font-family: 'Sacramento', cursive;
	text-transform: text-capitalize !important;
		/*text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1); */

}

#home {
	height: 100%;
}

#home-cover {
	height: 100%;
	background-image: url("../images/background2.png");
}


#home-content-box {
	width: 100%;
	height: 100%;
	display: table;
}

#home-content-box-inner {
	display: table-cell;
	vertical-align: middle;

}

#home-heading h3 {
	color: #fff;
	font-size: 85px;
	font-weight: 300;
	margin: 20px 0 20px 0;
}

#home-heading h1 {
	color: #fff;
	font-size: 25px;
	font-weight: 300;
	margin: 20px 0 20px 0;
}

.bg-parallax {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;	
}


/*BOTOES*/

.btn-general {
	
	border-width: 1px;
	border-radius: 0;
	padding: 12px 26px 12px 26px;
	font-size: 16px;
	font-weight: 400px;
	text-transform: uppercase;
}

.btn-white {
	border-color: #fff;
	color: #fff;
}

.btn-white:hover, .btn-white:focus {
	background-color: #fff;
	color: #000000;
}

.btn-blue {
	border-color: #d6cdbf;
	color: #d6cdbf;
}

.btn-blue:hover, .btn-blue:focus {
	background-color: #d6cdbf;
	color: #fff;
}


.btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 22px;
	padding: 3px 15px;
	border-radius: 0;
	display: none;
}






/*------ANIMATE-------*/

#home-cover,
#home-heading,
#home-btn {
	animation-duration: .5s;
}
#home-cover {
	animation-delay: .1s;
}

#home-heading {
	animation-delay: .5s;
}

#home-btn {
	animation-delay: 1s;
}


/*SERVIÇOS*/

.content-box {
	padding: 60px 0 60px 0;
}

.content-title h3 {
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	margin: 0 0 30px 0;
}

.content-title-white h3 {
	color: #fff;
}


.content-title-underline {
	width: 50px;
	height: 2px;
	background-color: #3d507a;
	margin: 0 auto 30px auto;
}

.service-item {
	padding: 20px 0 20px 0;
	margin-bottom: 20px;
}

.service-item-icon {
	color: #d6cdbf;
	float: left;
	padding: 15px;
	margin-right: 25px;
	width: 75px;
	height: 75px;
	text-align: center;
}

.service-item:hover .service-item-icon {
	color: #fff;
	background-color: #d6cdbf;
}

.service-item-title h3 {
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 10 0;
}

.service-item-description p {
	margin: 0;
	padding-left: 85px;
}



/* about */

.img-about {
	padding-left: 50px;
	padding-right: 0px;
}

#about .classeschule {
	padding-top: 5%;
}

#about-content-box {
	float: left;
	height: 700px;
}


#about-content-box-outer {
	width: 100%;
	height: 100%;
	display: table;
}

#about-content-box-inner {
	display: table-cell;
	vertical-align: middle;
}


#about .content-title h3 {
	text-align: left;
}

#about .content-title .content-title-underline {
	margin: 0 0 30px 0;
}

#about-desc p{
	margin-bottom: 20px;
}























/* fotos work */

.row.no-gutters [class*=col-] {
	padding-left: 0;
	padding-right: 0;
}

.img-wrapper {
	overflow: hidden;
}

.img-wrapper img {
	transition: transform .5s ease;
}


.img-wrapper img:hover {
	transform:scale(1.5); 
}



/* team */


#lehrer{
	height: 95%;
	background-image: url("../images/background_lehrer.png");
}

.team-member {
	margin: 0 15px;

}

.team-member-info {
	padding: 10px 0 30px 0;
}

h4.team-member-name {
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 1px;
	padding-top: 2px;
}

h4.team-member-designation {
	color: #d6cdbf;
	font-size: 15px;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 1px;
	margin-top: 5px;
}


.team-member img {
	width: 280px;
}



/* social */
.social-list {
	padding-left: 0;
}

.social-list li {
	list-style: none;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	margin-top: 10px;
}

.social-icon i {
	font-size: 17px;
}

.icon-gray i {
	color: #64707b;
}

.icon-white i {
	color: #fff;
}

.social-icon i:hover {
	color: #d6cdbf;
}





/* testimonials */

#testimonials-cover {
	background-image: url(../images/testimonials_novo.png);
}

#testimonials .content-box {
	background-color: rgba(0,0,0, 0.1);
}

#customers-testimonials {
	padding: 50px 0;
}

.testimonial img {
	max-width: 150px;
	margin: 0 auto 0 auto;
}

.testimonial blockquote {
	border: 0;
	font-family: Georgia, sans-serif;
	font-style: italic;
	color: #fff;
	padding: 6px 150px;
	position: relative;
}

.testimonial blockquote p {
	color: #fff;
}

.testimonial blockquote::before,
.testimonial blockquote::after {
	font-size: 80px;
	font-style: normal;
	line-height: 1;
	width: 30px;
	height: 30px;
	position: absolute;
}

.testimonial blockquote::before {
	content: "\201C";
	top: 0;
	left: 100px;
}

.testimonial blockquote::after {
	content: "\201D";
	bottom: 0;
	right: 100px;
}

.testimonial-author p {
	color: #fff;
	font-size: 17px;
}

.testimonial-author p strong {
	display: block;
}




/* PRICING */

.pricing-box {
	/*border: 3px solid #d6cdbf;*/
	padding: 50px 0;
	margin: 40px 0;

	border-top: 1px solid #3d507a;

  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3d507a), to(#d6cdc0));
 	 background-image: -webkit-linear-gradient(#3d507a, #d6cdc0);
 	 
 	 background-image:
      -moz-linear-gradient(#3d507a, #d6cdc0),
      -moz-linear-gradient(#3d507a, #d6cdc0);
  
  	background-image:
      -o-linear-gradient(#3d507a, #d6cdc0),
      -o-linear-gradient(#3d507a, #d6cdc0);
  	background-image: 
      linear-gradient(#3d507a, #d6cdc0),
      linear-gradient(#3d507a, #d6cdc0);


     border-bottom: 1px solid #d6cdc0;

	-moz-background-size: 1px 100%;
	  background-size: 1px 100%;
	  background-position: 0 0, 100% 0;
	  background-repeat: no-repeat; 
}




h4.pricing-title {
	background-color: #d6cdbf;
	color: #fff;
	display: inline-block;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: 100;
	text-transform: uppercase;
	margin: 0 0 30px 0;
}

h3.pricing-value {
	font-size: 45px;
	font-weight: 400;
}

h3.pricing-value sup {
	font-size: 28px;
	font-weight: normal;
	vertical-align: super;
}

ul.pricing-spec {
	list-style: none;
	padding-left: 0;
	margin: 20px 0 60px 0;
}

ul.pricing.spec li p {
	font-weight: 400;
	text-transform: uppercase;
}

.pricing-box-lg {
	padding: 90px 0;
	margin: 0;
	background-color: #d6cdc0;
}

.pricing-box-lg ul.pricing-title {
	color: #d6cdbf;
	background-color: #fff;
}


.pricing-box-lg ul.pricing-spec li p {
	color: #fff;
}



/* STATS */
#stats-cover {
	background-image: url(../images/stars.png);
}

#stats .content-box {
	background-color: rgba(0,0,0,.5);
}

.stats-item {
	padding: 100px 0;
}

.stats-item i {
	color: #d6cdbf;
}

.stats-item h2 {
	color: #fff;
	font-style: 35px;
	font-weight: 400;
	margin-top: 15px;
	margin-bottom: 1px;
}

.stats-item p {
	color: #fff;
	text-transform: uppercase;
	font-weight: 100;
	margin-top: 0;
}


/* CLIENTS */

.client {
	padding: 40px 0;
}



/* CONTATO */

footer {
	background-color: #41464b;
	padding-top: 30px;
	border-top: 1px solid rgba(0,0,0,0.1)
}

#contact-letf h3, #contact-right h3 {
	color: #fff;
	font-size: 27px;
	font-weight: 400;
}



#contact-left h3 {
	color: #fff;
	margin-bottom: 30px;
}




#contact-left p {
	color: #fff;
	margin-bottom: 30px;
}

#contact-info {
	background-image: url(../images/);
	background-repeat: no-repeat;
	background-size: contain;
}

address {
	color: #fff;
}


address strong,
.phone-fax-email strong {
	letter-spacing: 1px;
}

form .form-control {
	background: transparent;
	border-radius: 0;
	border-color: #fff;
	font-size: 17px;
	font-weight: 100;
	padding: 8px 16px;
	margin-bottom: 20px;
	color: #fff;
}



/* FOOTER */

#footer-bottom {
	background-color: rgba(0,0,0,0.1);
	padding: 30px 0;
	margin-top: 60px;
}

#footer-copyrights p {
	margin: 0;
	color: #fff;
}

#footer-menu {
	float: left;
	color: #fff;
	font-size: 16px;
	font-weight: 100;
}

#footer-menu ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

#footer-menu ul li {
	display: inline-block;
}

#footer-menu a {
	color: #fff;
	font-size: 16px;
	font-weight: 100;
	margin: 0 10px;
	text-decoration: none;
}

#footer-menu a:hover {
	color: #d6cdbf;
}


/* NAVIGATION */

.navbar {
	padding: 20px 0;
	transition: all .5s ease-in-out;
}

.vesco-top-nav {
	background: rgba(0, 0, 0, 0.7);
	padding: 7px 0;
}

.vesco-nav-wrapper {
	padding: 0 85px;
}

.navbar-nav {
	float: right;
	padding-left: 150px; 
}

.nav-link {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 100;
}

.nav-link:hover {
	color: #262626 !important;
} 

.vesco-top-nav ul.navbar-nav > li.active > a {
	color: #262626 !important;
}






/*----------------------------------------
                 OFFENE
---------------------------------------- */

#offene {
	height: 80%;
}

#offene-cover {
	height: 80%;
	background-image: url("../images/background_offene.png");
}

#offene-content-box {
	width: 100%;
	height: 100%;
	display: table;
}

#offene-content-box-inner {
	display: table-cell;
	vertical-align: middle;

}

#offene-heading h3 {
	color: #fff;
	font-size: 55px;
	font-weight: 300;
	margin: 20px 0 20px 0;
}

#offene-heading h1 {
	color: #fff;
	font-size: 25px;
	font-weight: 300;
	margin: 20px 0 20px 0;
}


#offne-satsang {
	width: 20%;
	height: 20%;
}




